.card_game {
    box-shadow: 0 7px 20px 0 rgba(58,58,58,0.50);
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 20px;
    height: 300px;
    width: 80%;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.card_game span {
    display: flex;
    align-items: center;
}

.card_game p {
    margin: 0;
    font-weight: 500;
    margin-left: 10px;
}

.a_item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.a_item:hover {
    text-decoration: none;
}