  @media (max-width: 767.98px) { 
    .game_button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .btn_primary {
      box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
      margin-bottom: 10px !important;
      margin-right: 0px !important;
      width: 100% !important;
    }

    .btn_danger {
      width: 100% !important;
    }

    .list_games_search {
      width: 80vw !important;
    } 

    .list_games_item {
      min-width: 80vw !important;
    }
    
  }
  
  .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin-bottom: 1rem;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
    padding: 5px;
  }

  .list_games_item {
    min-width: 50vw;
    max-width: 80vw;
    background: white;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.1);
    list-style: none;
  }

  .list_games_filter {
    width: 100%;
    margin: 30px 0px;
    border-radius: 15px;
    padding: 11px;
    border: none;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.1);
  }

  .list_games_search {
    width: 50vw;
    margin: 30px 0px;
    border-radius: 15px;
    padding: 11px;
    border: none;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.1);
  }

  .list_games_filter::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(201, 201, 201);
    opacity: 1; /* Firefox */
  }
  
  .list_games_filter:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(201, 201, 201);
  }
  
  .list_games_filter::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(201, 201, 201);
  }

  .list_games_search::placeholder,
  { 
    color: rgb(201, 201, 201);
    opacity: 1; /* Firefox */
  }
  
  .list_games_search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(201, 201, 201);
  }
  
  .list_games_search::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(201, 201, 201);
  }

  .list_games_item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list_games_item_header img {
    margin-right: 10px;
    max-height: 100%;
  }

  .list_games_item_body {
    font-size: 32px;
    font-weight: bold;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .list_games_item_body small{
    font-size: 16px;
  }

  .list_games_item_body a {
    font-size: 32px;
    font-weight: bold;
  }

  .list_games_item_body p {
    font-size: 20px;
    font-weight: normal;
  }

  .list_games_item_body a:hover {
    color: #0056b3;
    text-decoration: none;
  }

  .badge {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    min-width: 150px;
    border-radius: 5px;
    overflow: hidden;
  }

  .badge_platinato {
    background: #ececec;
    color: #a9a7a7;
  }

  .badge_completato {
    background: #81c784;
    color: #519657;
  }

  .badge_normale {
    background: #bbdefb;
    color: #8aacc8;
  }

  .badge_icon {
    min-width: 50px;
    padding: 0 10px;
  }

  .badge_text p {
    margin: 0;
  }

  .placeholder_label {
    color: #a7a0a0;
    font-size: 18px !important;
  }

  .game_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_primary {
    box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
    margin-right: 10px;
    margin-bottom: 0px;
    width: 60%;
  }

  .btn_danger {
    box-shadow: 0 4px 14px 0 #00000091;
    width: 60%;
    background-color: #000;
    border-color: #000;
  }

  .btn_danger:hover,
  .btn_danger:focus  {
    background-color: #000;
    border-color: #000;
  }

  .mt_auto {
    margin-top: auto;
  }

  .add_games_container {
    width: 90vw;
    background: #ececec;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    align-items: center;
  }

  .genres_label {
    padding: 10px;
    font-size: 14px;
    background: #ececec;
    border-radius: 5px;
    margin: 5px;
    font-weight: normal;
  }

  .body_modal input{
    margin-bottom: 10px;
  }
  
  .container_similar {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  
  .card_similar {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .games_filter_type {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  